manifest_version: 2
type: DCM_PROJECT
default_target: 'DEV'

targets:
  DEV:
    account_identifier: <YOUR_ACCOUNT_IDENTIFIER>
    project_name: 'DATA_PRODUCT_CONTROL.PROJECTS.POWER_USER_SKILL_DEMO'
    project_owner: ACCOUNTADMIN
